################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/RMSAPI/bin/Debug/net6.0
/RMSAPI/obj
